<h1>Summary</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">#</th>
            <th style="width: 80%">Summary Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Avalanche stats (summarized by area)</td>
            <td style="white-space: nowrap">
                <a routerLink="summary1" class="btn btn-sm btn-primary me-1">View</a>
            </td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Future Report (Not implemented yet)</td>
            <td style="white-space: nowrap">
                <a routerLink="summary2" class="btn btn-sm btn-primary me-1">View</a>
            </td>
        </tr>
        
    </tbody>
</table>